@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
}

main {
  color: white;
  font-size: 1.5rem;
  margin: 200px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.bi {
  font-size: 3rem;
  display: none;
  margin-bottom: 20px;
}

.background-cold {
  background: rgba(13, 172, 235, 0.7);
}

.background-neutral {
  background-image: linear-gradient(
    rgba(235, 94, 13, 0.7),
    rgba(13, 172, 235, 0.7)
  );
}

.background-warm {
  background: rgba(235, 120, 13, 0.7);
}
