@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
}

div {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

select {
  border: none;
  border-radius: 15px;
  padding: 10px 25px;
  font-size: 1.2rem;
  cursor: pointer;
}

select:focus {
  outline: none;
}

button {
  font-size: 1rem;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 15px;
  padding: 5px 25px;
  color: white;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

main {
  color: white;
  font-size: 1.5rem;
  margin: 200px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.bi {
  font-size: 3rem;
  display: none;
  margin-bottom: 20px;
}

.background-cold {
  background: rgba(13, 172, 235, 0.7);
}

.background-neutral {
  background-image: linear-gradient(
    rgba(235, 94, 13, 0.7),
    rgba(13, 172, 235, 0.7)
  );
}

.background-warm {
  background: rgba(235, 120, 13, 0.7);
}
